<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/LoginStyle.css}">
    <meta charset="UTF-8">
    <title>Ramm's Pizza</title>
</head>
<body>
<div class="login-form">
    <h1 class="title">Login</h1>
    <label class="label" for="email">E-mail</label><br>
    <input class="field" type="email" id="email"><br>

    <label class="label" for="password">Password</label><br>
    <input class="field" type="password" id="password"><br>

    <button class="loginbtn">Login</button>
</div>
</body>
</html>