<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/LoginStyle.css}">
    <meta charset="UTF-8">
    <title>Ramm's Pizza</title>
</head>
<body>

<form class="login-form" th:action="@{/login}" th:object="${user}" method="post">
    <h1 class="title">Login</h1>

    <p class="label">E-mail</p>
    <input class="field" type="email" th:field="*{email}"/>

    <p class="label">Password </p>
    <input class="field" type="password" th:field="*{password}"/>

    <button class="loginbtn" type="submit">Login</button>
</form>
</body>
</html>