<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/LoginStyle.css}">
    <meta charset="UTF-8">
    <title>🍕 Ramm's Pizza</title>
</head>
<body>

<div class="top-bar">
    <h1 class="bar-title">🍕 Ramm's Pizza 🍕</h1>
</div>

<div class="page">
    <form class="register-form" th:action="@{/register}" th:object="${user}" method="post">
        <h1 class="title">Register</h1>

        <label class="label" for="name">Name</label>
        <input class="field" id="name" type="text" th:field="*{name}" required>

        <label class="label" for="email">E-mail</label>
        <input class="field" id="email" type="email" th:field="*{email}" required>

        <label class="label" for="password">Password</label>
        <input class="field" id="password" type="password" th:field="*{password}" required>

        <button class="loginbtn" type="submit">Register</button>

        <p th:if="${error}" th:text="${error}" style="color:red;"></p>

        <a th:href="@{/login}">
            <button type="button" class="goback-button">Go back</button>
        </a>
    </form>
</div>

</body>
</html>